<div class="header">
<!--   <ul class="nav nav-pills pull-right" ng-repeat="site in statsData">
    <li><a ng-href="#/{{site.name}}">{{site.name | uppercase}}</a></li>
  </ul>
 -->
  <h3>Partner Stats <small>Beta</small></h3>
</div>

<div class="row selector" ui-scrollfix>
  <div class="btn-group">
    <button type="button" class="btn btn-default" ng-click="setDate.yesterday()">Yesterday</button>
    <button type="button" class="btn btn-default" ng-click="setDate.lastWeek()">Last Week</button>
    <button type="button" class="btn btn-default" ng-click="setDate.last7Days()">Last 7 Days</button>
    <button type="button" class="btn btn-default" ng-click="setDate.lastMonth()">Last Month</button>
  </div>
  <span class="divider"> | </span>
  <div class="datepickers">
    <span class="datepicker-container">
      <input type="text" class="form-control" datepicker-popup ng-model="fromDate" max="toDate" ng-required="true" show-button-bar="false" />
    </span>
    <span>-</span>
    <span class="datepicker-container">
      <input type="text" class="form-control" datepicker-popup ng-model="toDate" max="maxDate" ng-required="true" show-button-bar="false" />
    </span>
    <button type="button" class="btn btn-success" ng-click="updateData()">Update</button>
  </div>
</div>


<div ng-repeat="site in statsData">
  <div class="row" id="{{site.name}}">
  <div class="col-md-12">

    <h2>{{site.name | uppercase}}</h2>
    <h1>{{site.length}}</h1>


    <tabset justified="true">

      <tab heading="Conversion Rates" select="triggerResize()">
          <nvd3-line-chart
            data="site.chartData.conversionRate"
            showXAxis="true"
            showYAxis="true"
            tooltips="true"
            interactive="true"
            showLegend="true"
            margin="{left:90,top:50,bottom:50,right:50}"
            xAxisTickFormat="xAxisTickFormat()"
            yAxisTickFormat="yAxisTickFormat()"
            xAxisLabel="Dates"
            yAxisLabel="Conversion Rates"
            height="400"
            useInteractiveGuideLine="true"
            xAxisTickValues="xAxisTickValues()"
          ></nvd3-line-chart>
      </tab>

      <tab heading="Sales" select="triggerResize()">
          <nvd3-line-chart
            data="site.chartData.sales"
            showXAxis="true"
            showYAxis="true"
            tooltips="true"
            interactive="true"
            showLegend="true"
            margin="{left:90,top:50,bottom:50,right:50}"
            xAxisTickFormat="xAxisTickFormat()"
            xAxisLabel="Dates"
            yAxisLabel="Sales"
            height="400"
            useInteractiveGuideLine="true"
            clipVoronoi="true"
          ></nvd3-line-chart>
      </tab>

      <tab heading="Leads" select="triggerResize()">
          <nvd3-line-chart
            data="site.chartData.leads"
            showXAxis="true"
            showYAxis="true"
            tooltips="true"
            interactive="true"
            showLegend="true"
            margin="{left:90,top:50,bottom:50,right:50}"
            xAxisTickFormat="xAxisTickFormat()"
            xAxisLabel="Dates"
            yAxisLabel="Leads"
            height="400"
            useInteractiveGuideLine="true"
            clipVoronoi="true"
          ></nvd3-line-chart>
      </tab>

    </tabset>


  </div>
  </div>


  <div class="row">
    <div class="col-md-{{12/site.campaigns.length}}" ng-repeat="campaign in site.campaigns">
      <div class="panel panel-default">
        <div class="panel-heading text-center">{{campaign.type | uppercase}}</div>
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th>Date</th>
              <th>Sales</th>
              <th>Leads</th>
              <th>Clicks</th>
              <th class="text-center">Sales <abbr title="Conversion Rate">CR</abbr></th>
              <th class="text-center">Leads <abbr title="Conversion Ratio Clicks to">CR</abbr></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="entry in campaign.data">
              <td>{{entry.date | date:'shortDate'}}</td>
              <td>{{entry.sales}}</td>
              <td>{{entry.leads}}</td>
              <td>{{entry.clicks}}</td>
              <td class="text-center"><strong>
                {{ (entry.leads > 0) ? (entry.sales/entry.leads) * 100 : 0 | number:3 }}%
              </strong></td>
              <td class="text-center"><strong>
                {{ (entry.clicks > 0) ? (entry.leads/entry.clicks) * 100 : 0 | number:3 }}%
              </strong></td>
            </tr>
          </tbody>
          <tbody>
            <tr class="total-row">
              <td>Total</td>
              <td>{{campaign.totalData.sales}}</td>
              <td>{{campaign.totalData.leads}}</td>
              <td>{{campaign.totalData.clicks}}</td>
              <td class="text-center"><strong>
                {{ (campaign.totalData.leads > 0) ? (campaign.totalData.sales/campaign.totalData.leads) * 100 : 0 | number:3 }}%
              </strong></td>
              <td class="text-center"><strong>
                {{ (campaign.totalData.clicks > 0) ? (campaign.totalData.leads/campaign.totalData.clicks) * 100 : 0 | number:3 }}%
              </strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <hr ng-if="$index != statsData.length - 1" />
</div>


<div class="footer">
  <p>Larventech Inc.</p>
</div>
